@inherits LayoutComponentBase

<aside class="sidebar">
    <NavMenu />
</aside>

<main class="main">
    <header class="top-row px-4">
        <a href="dev.twitch.tv" target="_blank" class="ml-md-auto">About</a>
    </header>

    <content class="content px-4">
        @Body
    </content>
</main>
